@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Adrian's Disc Inventory</h1>
    <p>Select a Page:</p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Artist" asp-action="Index">Manage Artist</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Borrower" asp-action="Index">Manage Borrower</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Disc" asp-action="Index">Manage Disc</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="DiskHasBorrower" asp-action="Index">Manage Checkout</a>
</div>
